.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.min {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.max {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}